Online Text Editor Project in ASP.NET/Online Text Editor/LiveDocs.net/LiveDocs.net/Web References/ResetPWD/ResetPassword.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendResetPasswordMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResetPasswordMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendResetPasswordMailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendResetPasswordMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendResetPasswordMail" />
  </wsdl:message>
  <wsdl:message name="SendResetPasswordMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendResetPasswordMailResponse" />
  </wsdl:message>
  <wsdl:portType name="ResetPasswordSoap">
    <wsdl:operation name="SendResetPasswordMail">
      <wsdl:input message="tns:SendResetPasswordMailSoapIn" />
      <wsdl:output message="tns:SendResetPasswordMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResetPasswordSoap" type="tns:ResetPasswordSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendResetPasswordMail">
      <soap:operation soapAction="http://tempuri.org/SendResetPasswordMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResetPasswordSoap12" type="tns:ResetPasswordSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendResetPasswordMail">
      <soap12:operation soapAction="http://tempuri.org/SendResetPasswordMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResetPassword">
    <wsdl:port name="ResetPasswordSoap" binding="tns:ResetPasswordSoap">
      <soap:address location="http://localhost:49627/services/ResetPassword.asmx" />
    </wsdl:port>
    <wsdl:port name="ResetPasswordSoap12" binding="tns:ResetPasswordSoap12">
      <soap12:address location="http://localhost:49627/services/ResetPassword.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>